<img src="https://ams3.digitaloceanspaces.com/crono/1591943272219Screenshot (5).png">

<video width="320" height="240" controls>
	<source src="https://crono.ams3.digitaloceanspaces.com/1592071363251.mp4" type="video/mp4">
	<source src="https://crono.ams3.digitaloceanspaces.com/1592071363251.mp4" type="video/ogg">
		Your browser does not support video
</video>